doctype html
html
  head
    title= 'MVP_V1'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js')
    script(src='/javascripts/script.js')
